* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.abous-us {
  background-color: #d6f7f7;
}
.background-for-main-page {
  min-height: 100vh;
  width: 100%;
  background-image: url("./img/img-main-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.background-for-page-about-us {
  min-height: 100vh;
  width: 100%;
  background-image: url("./img/img-about-us.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.background-for-page-pubs {
  min-height: 100vh;
  width: 100%;
  background-image: url("./img/img-page-pubs.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.background-for-page-restaurant {
  min-height: 100vh;
  width: 100%;
  background-image: url("./img/img-page-restaurant.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.background-for-page-hookahs {
  min-height: 100vh;
  width: 100%;
  background-image: url("./img/img-page-hookahs.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.header-text {
  text-align: center;
  font-size: 50px;
  color: #ffffff;
  position: relative;
  top: 230px;
  left: 0;
  right: 0;
  bottom: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.header-subtext {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  position: relative;
  top: 690px;
  left: 0;
  right: 0;
  bottom: 0;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 25px 30px 25px 50px;
  background: rgba(74, 61, 60, 0.5);
}
p.logo-name {
  text-decoration: none;
  font-size: 30px;
  font-family: Georgia, serif;
  color: #ffffff;
}

nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin-right: 50px;
}
nav ul li a {
  text-decoration: none;
  font-size: 23px;
  color: #ffffff;
  font-family: Georgia, serif;
}
nav ul li a:hover {
  border-bottom: 3px solid darkred;

  transition: 0.5s;
}
.gallery__block {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.photo__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.title__block {
  height: 350px;
  width: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a9ebebe1;
}
.list__image {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.photo-list-element {
  box-shadow: 0px 0px 12px 0px rgba(61, 55, 61, 0.7);
  height: 320px;
  width: 390px;
}

.list__title {
  font-weight: 500;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 39px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.line {
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 30px;
  background-color: rgb(172, 172, 172);
  height: 2px;
}
.our-team-description {
  box-shadow: 0px 0px 12px 0px rgba(61, 55, 61, 0.7);
  width: 80%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 20px;
  border-radius: 20px;
}
.images {
  height: 350px;
  width: 400px;
}
.image__block {
  height: 350px;
}
.specific-description-of-the-person {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.description__title {
  background-color: rgb(187, 243, 243);
  width: 90%;
  margin: 30px 0;
  padding: 5px;
  font-size: 27px;
  font-weight: 500;
}
.description {
  width: 90%;
  font-size: 23px;
  font-weight: 500;
  text-align: center;
}
footer {
  background: #092127;
  color: aliceblue;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url(../src/img/image-19.png);
  background-position-x: center;
  background-position-y: 20px;
  height: 300px;
  position: relative;
  text-align: center;
}
.footer__title {
  font-style: italic;
  font-size: 25px;
}
.footer__line {
  width: 30%;
  margin: 0 auto;
  color: #8d8888;
}
.footer__container {
  height: 60%;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.footer__text {
  font-style: italic;
  border-top: 1px solid;
  width: 400px;
  text-align: center;
  padding: 10px;
  font-size: 25px;
}
.main-page {
  background-color: #cccccc;
}
.best-lviv-places {
  padding: 30px 0;
  width: 80%;
  margin: 0 auto;
}
.best-lviv-places__title {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
.best-lviv-places-images {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0;
}
.best-lviv-places-three-images {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  width: 340px;
  height: 500px;
  position: relative;
  box-shadow: 0px 0px 12px 0px rgba(61, 55, 61, 0.7);
}
.best-lviv-places-restaurant-image {
  background-image: url("./img/Rectangle3.png");
}
.best-lviv-places-hookahs-image {
  background-image: url("./img/Rectangle4.png");
}
.best-lviv-places-pubs-image {
  background-image: url("./img/Rectangle5.png");
}
.best-lviv-places-three-texts {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  font-size: 30px;
}
.main-page-restaurant-section {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.main-page-card {
  height: 800px;
  width: 32%;
  background-color: #d9d9d9;
  box-shadow: 0px 0px 12px 0px rgba(61, 55, 61, 0.7);
}
.main-page-card-title {
  text-align: center;
  margin: 20px 0;
  color: #8b8787;
  font-size: 28px;
  font-weight: 400;
}
.main-page-restaurant-text-description {
  font-size: 20px;
  margin-bottom: 40px;
  color: #ffffff;
  text-align: center;
}

.main-page-three-cards-of-restaurants {
  display: flex;
  justify-content: space-between;
}
.main-page-card-image {
  width: 100%;
  height: 300px;
}
.main-page-card-description {
  width: 93%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 19px;
  color: #8b8787;
  text-align: center;
}
.main-page-card-worktime {
  font-size: 19px;
  margin-left: 20px;
  margin-bottom: 7px;
}
.main-page-card-phone {
  margin-left: 30px;
  text-decoration: none;
  font-size: 20px;
  color: #000;
}
.main-page-card-map {
  display: block;
  position: absolute;
  margin-top: 10px;
  margin-left: -2px;
  width: 100%;
  height: 230px;
}
.restaurant-valentino {
  margin-top: 60px;
}
.restaurant-star {
  margin-top: 120px;
}
.fathers-block-main-page__map {
  position: relative;
  width: 100%;
}
.pubs-cantona {
  margin-top: 80px;
}
.pubs-rengen {
  margin-top: 40px;
}
.restaurant-page,
.hookah-page,
.pub-page {
  background-color: #e9d7b5bd;
}
.restaurant-page-main-text,
.hookah-page-main-text,
.pub-page-main-text {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
  padding-top: 50px;
}
.restaurant-line,
.hookah-line,
.pub-line {
  width: 95%;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 30px;
  background-color: rgb(172, 172, 172);
  height: 2px;
}
.ten-restaurants,
.ten-hookah,
.ten-pub {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 0px 12px 0px rgba(61, 55, 61, 0.7);
}

.restaurant-page-panorama {
  position: relative;
  width: 60%;
  height: 350px;
  background-image: url("./img/panoramatry.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.restaurant-page-panorama::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d7907291;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.restaurant-page-panorama:hover::after {
  opacity: 0;
}

.restaurant-page-warsava {
  position: relative;
  width: 40%;
  height: 350px;
  background-image: url("./img/Warshava2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.restaurant-page-warsava::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #b881cb80;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.restaurant-page-warsava:hover::after {
  opacity: 0;
}

.restaurant-page-rebernia {
  position: relative;
  width: 40%;
  height: 350px;
  background-image: url("./img/UnderArsenal.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.restaurant-page-rebernia::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a72f3880;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.restaurant-page-rebernia:hover::after {
  opacity: 0;
}

.restaurant-page-bachevskih {
  position: relative;
  width: 60%;
  height: 350px;
  background-image: url("./img/Bachevski.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.restaurant-page-bachevskih::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3c672f80;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.restaurant-page-bachevskih:hover::after {
  opacity: 0;
}

.restaurant-page-valentino {
  position: relative;
  width: 60%;
  height: 350px;
  background-image: url("./img/Valentino2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.restaurant-page-valentino::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d1ab7180;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.restaurant-page-valentino:hover::after {
  opacity: 0;
}

.restaurant-page-understar {
  position: relative;
  width: 40%;
  height: 350px;
  background-image: url("./img/UnderGoldStar.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.restaurant-page-understar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #13b2d680;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.restaurant-page-understar:hover::after {
  opacity: 0;
}

.restaurant-page-leopolis {
  position: relative;
  width: 40%;
  height: 350px;
  background-image: url("./img/Leopolis.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.restaurant-page-leopolis::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #b129e180;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.restaurant-page-leopolis:hover::after {
  opacity: 0;
}

.restaurant-page-cloud {
  position: relative;
  width: 60%;
  height: 350px;
  background-image: url("./img/Cloudno7Panorama.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.restaurant-page-cloud::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a0262680;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.restaurant-page-cloud:hover::after {
  opacity: 0;
}

.restaurant-page-gasova {
  position: relative;
  width: 60%;
  height: 350px;
  background-image: url("./img/GasovaLampa.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.restaurant-page-gasova::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8759007d;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.restaurant-page-gasova:hover::after {
  opacity: 0;
}

.restaurant-page-stymari {
  position: relative;
  width: 40%;
  height: 350px;
  background-image: url("./img/Stumari.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.restaurant-page-stymari::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3219d681;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.restaurant-page-stymari:hover::after {
  opacity: 0;
}

.restaurant-page__text-block,
.hookah-page__text-block,
.pub-page__text-block {
  display: flex;
  text-align: center;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.restaurant-page__title,
.hookah-page__title,
.pub-page__title {
  width: 90%;
  margin: 0 auto;
  font-size: 40px;
  font-weight: 400;
  color: white;
  position: relative;
  z-index: 1;
}
.restaurant-page-ten-lines,
.hookah-page-ten-lines,
.pub-page-ten-lines {
  margin: 0 auto;
  width: 80%;
  border: none;
  border-top: 3px solid rgb(255, 255, 255);
}
.restaurant-page__address,
.hookah-page__address,
.pub-page__address {
  font-size: 22px;
  font-weight: 400;
  padding-top: 7px;
  color: #ffffff;
}
.top-institutions-content-phone {
  font-size: 22px;
  font-weight: 400;
  padding-top: 7px;
  color: #ffffff;
  text-decoration: none;
}

.hookah-page-hashtad {
  position: relative;
  width: 60%;
  height: 350px;
  background-image: url("./img/HashtagLoungeBar.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hookah-page-hashtad::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d7907291;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.hookah-page-hashtad:hover::after {
  opacity: 0;
}

.hookah-page-chilling {
  position: relative;
  width: 40%;
  height: 350px;
  background-image: url("./img/Chilling.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hookah-page-chilling::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #b881cb80;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.hookah-page-chilling:hover::after {
  opacity: 0;
}

.hookah-page-secret {
  position: relative;
  width: 40%;
  height: 350px;
  background-image: url("./img/SecretBarLviv.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hookah-page-secret::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a72f3880;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.hookah-page-secret::after {
  opacity: 0;
}

.hookah-page-purple {
  position: relative;
  width: 60%;
  height: 350px;
  background-image: url("./img/PurpleLounge.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hookah-page-purple::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3c672f80;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.hookah-page-purple:hover::after {
  opacity: 0;
}

.hookah-page-1001 {
  position: relative;
  width: 60%;
  height: 350px;
  background-image: url("./img/1001Nignt.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hookah-page-1001::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d1ab7180;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.hookah-page-1001:hover::after {
  opacity: 0;
}

.hookah-page-filin {
  position: relative;
  width: 40%;
  height: 350px;
  background-image: url("./img/FILINLoungeBar.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hookah-page-filin::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #13b2d680;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.hookah-page-filin:hover::after {
  opacity: 0;
}

.hookah-page-bowl {
  position: relative;
  width: 40%;
  height: 350px;
  background-image: url("./img/HotBowl.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hookah-page-bowl::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #b129e180;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.hookah-page-bowl:hover::after {
  opacity: 0;
}

.hookah-page-amsterdam {
  position: relative;
  width: 60%;
  height: 350px;
  background-image: url("./img/AmsterdamLoungeBar.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hookah-page-amsterdam::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a0262680;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.hookah-page-amsterdam:hover::after {
  opacity: 0;
}

.hookah-page-depo {
  position: relative;
  width: 60%;
  height: 350px;
  background-image: url("./img/DepoLounge.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hookah-page-depo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8759007d;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.hookah-page-depo:hover::after {
  opacity: 0;
}

.hookah-page-sunset {
  position: relative;
  width: 40%;
  height: 350px;
  background-image: url("./img/SunsetLoungeBar.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hookah-page-sunset::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3219d681;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.hookah-page-sunset:hover::after {
  opacity: 0;
}

.pub-page-friend {
  position: relative;
  width: 60%;
  height: 350px;
  background-image: url("./img/GoodFriend.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pub-page-friend::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d7907291;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.pub-page-friend:hover::after {
  opacity: 0;
}

.pub-page-metro {
  position: relative;
  width: 40%;
  height: 350px;
  background-image: url("./img/Metro.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pub-page-metro::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #b881cb80;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.pub-page-metro:hover::after {
  opacity: 0;
}

.pub-page-truth {
  position: relative;
  width: 40%;
  height: 350px;
  background-image: url("./img/Truth.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pub-page-truth::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a72f3880;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.pub-page-truth:hover::after {
  opacity: 0;
}

.pub-page-cherry {
  position: relative;
  width: 60%;
  height: 350px;
  background-image: url("./img/DrunkCherry.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.pub-page-cherry::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3c672f80;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.pub-page-cherry:hover::after {
  opacity: 0;
}

.pub-page-boat {
  position: relative;
  width: 60%;
  height: 350px;
  background-image: url("./img/Boat.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.pub-page-boat::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d1ab7180;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.pub-page-boat:hover::after {
  opacity: 0;
}

.pub-page-renthen {
  position: relative;
  width: 40%;
  height: 350px;
  background-image: url("./img/Renthen.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.pub-page-renthen::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #13b2d680;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.pub-page-renthen:hover::after {
  opacity: 0;
}

.pub-page-kantona {
  position: relative;
  width: 40%;
  height: 350px;
  background-image: url("./img/Kantona.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.pub-page-kantona::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #b129e180;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.pub-page-kantona:hover::after {
  opacity: 0;
}

.pub-page-winston {
  position: relative;
  width: 60%;
  height: 350px;
  background-image: url("./img/WinstonChurchill.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.pub-page-winston::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a0262680;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.pub-page-winston:hover::after {
  opacity: 0;
}

.pub-page-lion {
  position: relative;
  width: 60%;
  height: 350px;
  background-image: url("./img/WhiteLion.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.pub-page-lion::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8759007d;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.pub-page-lion:hover::after {
  opacity: 0;
}

.pub-page-kumpel {
  position: relative;
  width: 40%;
  height: 350px;
  background-image: url("./img/Kumpel.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.pub-page-kumpel::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3219d681;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.pub-page-kumpel:hover::after {
  opacity: 0;
}
.thirty-institution-page {
  background-color: #e9d7b594;
}
.thirty-pags__title {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #8d8888;
  font-size: 60px;
  text-align: center;
}
.thirty-pages-main-block {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
}
.thirty-pages-panorama {
  width: 40%;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./img/panoramatry.png");
}
.thirty-pages-content__block {
  display: flex;
  margin-bottom: 20px;
}
.thirty-pages-instagram {
  width: 20px;
  height: 20px;
}
.thirty-pages-text__block {
  padding-left: 30px;
  width: 60%;
  display: flex;
  flex-direction: column;
}
.thirty-pages-paragragh {
  color: #8d8888;
  font-size: 20px;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 15px;
}
.thirty-pages-details {
  display: flex;
  flex-direction: column;
}
.thirty-pages-information {
  color: #8d8888;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 10px;
}
.thirty-pages-map {
  width: 100%;
  height: 400px;
}
